{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
      "semi": "error"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
  },
  "globals": {
    "wp": true,
    "wpApiSettings": true,
    "window": true,
    "document": true
	}
}