{
    "extends": [
        "stylelint-config-wordpress/scss",
        "stylelint-config-recommended",
        "stylelint-config-recess-order"
    ],
    "rules": {
        "font-family-no-missing-generic-family-keyword": null,
        "no-descending-specificity": null,
        "block-no-empty": null,
        "no-duplicate-selectors": null,
        "font-family-no-duplicate-names": null,
        "selector-class-pattern": null,
        "selector-pseudo-element-colon-notation": "single"
    }
}